<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-scanner" version="0.0.1">
  <name>Cordova Plugin Scanner</name>
  <description>Cordova plugin for OCR</description>
  <js-module src="www/scanner.js" name='Scanner' >
    <clobbers target="scanner" />
  </js-module>

  <!-- iOS -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Scanner">
        <param name="onload" value="true" />
        <param name="ios-package" value="Scanner" />
      </feature>
    </config-file>

    <source-file src="src/ios/Scanner.swift" />
    <source-file src="src/ios/Scanner-Bridging-Header.h" />

    <dependency id="cordova-plugin-add-swift-support" version="1.7.1"/>
    <preference name="UseSwiftLanguageVersion" default="4" />
  </platform>
</plugin>
